<script>
	if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js', {
    scope: '/'
  }).then(function(reg) {
    console.log('ServiceWorker - Yeah', reg);
  }).catch(function(err) {
    console.log('No ServiceWorker :-(', err);
  });
}
</script>
<script>
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//justmarkup.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 6]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//justmarkup.com/piwik/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
<footer class="footer">
	<p>Made by <a href="https://justmarkup.com">Michael Scharnagl @justmarkup</a></p>
	<p>Edit and contribute on <a href="https://github.com/justmarkup/bugspencer.com">Github</a>
</footer>
