// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	background: $brand-color;
	padding: 1em;
	color: #fff;
}
