// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------
.main {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
  min-height: calc(100vh - 180px);
}

.flex-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	div {
		flex-basis: 210px;
		text-align: center;
	}
	img {
		transition: all 300ms;
		&:hover {
			transform: rotate(360deg);
		}
	}
}

[href*="internet-explorer"] img {
  transform-origin: 55% 51%;
}

.flex-list-wide {
	a {
		display: block;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: rotate(3deg);
		}
	}
	h3 {
		margin: 0 0 10px 0;
		background: $brand-color;
		color: #fff;
		padding: 10px;
	}
	div {
		text-align: left;
		border: 1px solid $brand-color;
		border-width: 1px 1px 0 1px;
		flex-basis: 260px;
		margin: 0 20px 40px 20px;
	}
	p {
		font-size: 0.9em;
		margin: 5px 5px 5px 10px;
	}
}

.post-content {
	h2 {
		font-size: 1em;
		font-weight: bold;
		margin: 20px 0 10px 0;
	}
	p {margin: 0 0 10px 0;}
}
