// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------
.main {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}

.flex-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	div {
		flex-basis: 210px;
		text-align: center;
	}
	img {
		transition: all 300ms;
		&:hover {
			transform: rotate(360deg);
		}
	}
}
