// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------
.main {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}
