/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

p {
	font-size: 1em;
	a {text-decoration: underline;}
	a:hover {
		text-decoration: none;
		color: $brand-color;
	}
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.4em;
	font-weight: normal;
}

h3 {
	font-size: 1em;
	
}
